.button {
  height: 1.5rem;
  width: 1.2rem;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  /* margin: 4px 2px; */
}

.bt1 {
  border-radius: 50%;
}
.bt2 {
  border-radius: 12px;
}
